*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

/*BLOCK1*/

#block1{
    /*margin: 50px 0;*/
    padding: 50px 0;
    margin-bottom: 70px;
    background: linear-gradient(180deg, #E2F1DA 0%, #fbf9d4 100%);
}

.line{
    border-bottom: #6A6B70 2px solid;
    opacity: 0.5;
    margin: auto;
    width: 55%;
}

.txt_and_family{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
    width: 100%;
    max-width: 1650px;
}

.block1_heading{
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    color: #6A6B70;
}

.txt_and_family img{
    width: 250px;
}

/*BLOCK2*/

.block2_heading{
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #6A6B70;
    padding: 0 0 50px 100px;
}

.block2_img{
    width: 150px;
    padding: 20px 0;
}

.block2_img1{
    width: 200px;
}

.block2_lb_link img{
    width: 20px;
}

.block2_lb_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #E2F1DA 0%, #fbf9d4 100%);
    width: 100%;
    margin-bottom: 30px;
}

.block2_lb{
    width: 30%;
}

.block2_lb_main{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    width: 100%;
    padding: 0 150px;
}

.block2_lb_heading{
    font-weight: 600;
    font-size: 26px;
    line-height: 125%;
    color: #6A6B70;
    padding-bottom: 10px;
}

.block2_lb_link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
}

.block2_lb_link2{
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4F6ACC;
    text-decoration: none;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    box-shadow: inset 0 0 0 0 #D4FBF7;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    padding: 5px 5px;
}

#block2{
    padding-bottom: 180px;
}

/*BLOCK3*/

#block3{
    text-align: center;
    padding-bottom: 70px;
}

.block3_heading{
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #6A6B70;
    padding-bottom: 50px;
}

.block3_line{
    border-bottom: #6A6B70 2px solid;
    opacity: 0.2;
    margin: auto;
    width: 90%;
}

/*FOOTER*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 0;
    background: linear-gradient(180deg, #E2F1DA 0%, #fbf9d4 100%);
}

.footer_heading1{
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    color: #6A6B70;
}

.footer_heading2{
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    color: #6A6B70;
}